@model Car
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admission/Views/Shared/_Layout.cshtml";
    var requestStatus = TempData.Peek("RequestStatus") as RequestStatus;
    //var Fule = new Eagles.LMS.BLL.UnitOfWork().fu.GetAllBind();
    var category = new Eagles.LMS.BLL.UnitOfWork().categoryManager.GetAllBind();
    var types = new Eagles.LMS.BLL.UnitOfWork().typeManager.GetAllBind();
    var Color = new Eagles.LMS.BLL.UnitOfWork().ColorManager.GetAllBind();
    var SubItems = new Eagles.LMS.BLL.UnitOfWork().SubItemManager.GetAllBind();
}

@section EndHeader{

}


<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 font-size-18">Add Car</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/Admission/cars">Home</a></li>
                        <li class="breadcrumb-item active">Cars</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        @using (Html.BeginForm("Create", "Cars", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">



                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">


                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="mb-3">
                                            <label class="form-label">Car Name</label>
                                            @Html.TextBoxFor(s => s.CarName, null, new
                                       {
                                           @class = "form-control",
                                           placeholder = "Car Name"
                                       })
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="mb-3">
                                            <label class="form-label">Displacement</label>
                                            @Html.TextBoxFor(s => s.Price, null, new
                                       {
                                           @class = "form-control",

                                           placeholder = "Price"
                                       })
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="mb-3">
                                            <label class="form-label">CarCode</label>
                                            @Html.TextBoxFor(s => s.CarCode, null, new
                                       {
                                           @class = "form-control",

                                           placeholder = "CarCode"
                                       })
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="mb-3">
                                            <label class="form-label">Distance</label>
                                            @Html.TextBoxFor(s => s.Distance, null, new
                                       {
                                           @class = "form-control",
                                           placeholder = "Distance"
                                       })
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="mb-3">
                                            <label class="form-label">Transmission</label>
                                            @Html.TextBoxFor(s => s.Transmission, null, new
                                       {
                                           @class = "form-control",
                                           placeholder = "Transmission"
                                       })
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="mb-3">
                                            <label class="form-label">Engin Size</label>
                                            @Html.TextBoxFor(s => s.EnginSize, null, new
                                       {
                                           @class = "form-control",
                                           placeholder = "Engin Size"
                                       })
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="mb-3">
                                            <label class="form-label">Power</label>
                                            @Html.TextBoxFor(s => s.Power, null, new
                                       {
                                           @class = "form-control",
                                           placeholder = "Power"
                                       })
                                        </div>
                                    </div>

                                    @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="mb-3">
                                            <label class="form-label">Fule</label>
                                            @Html.DropDownListFor(x => Model.AlbumId, new SelectList(alboums,
                                           "Id", "TitleEnglish"), htmlAttributes: new { @class = "form-control select2" })


                                        </div>
                                    </div>*@

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="mb-3">
                                            <label class="form-label">Body</label>
                                            @Html.TextBoxFor(s => s.Body, null, new
                                       {
                                           @class = "form-control",
                                           placeholder = "Body"
                                       })
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="mb-3">
                                            <label class="form-label">Color</label>
                                            @Html.DropDownListFor(x => Model.ColorId, new SelectList(Color,
                                           "Id", "Name"), htmlAttributes: new { @class = "form-control select2" })
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="mb-3">
                                            <label class="form-label">Seats</label>
                                            @Html.TextBoxFor(s => s.NumSeats, null, new
                                       {
                                           @class = "form-control",
                                           placeholder = "Seats"
                                       })
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="mb-3">
                                            <label class="form-label">Model Year</label>
                                            @Html.TextBoxFor(s => s.ModelYear, null, new
                                       {
                                           @class = "form-control",
                                           Type = "number",
                                           placeholder = "Model Year"
                                       })
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="mb-3">
                                            <label class="form-label">Short Discription</label>
                                            @Html.TextAreaFor(s => s.ShortDiscription, new
                                       {
                                           @class = "form-control",
                                           placeholder = "ShortDiscription"
                                           //@required = "required"
                                       })
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="mb-3">
                                            <label class="form-label">Description</label>
                                            @Html.TextAreaFor(s => s.Description, new
                                       {
                                           @class = "form-control textarea",
                                           placeholder = "Description"
                                           //@required = "required"
                                       })
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="mb-3">
                                            <label class="form-label">Features</label>
                                            @Html.TextAreaFor(s => s.Features, new
                                       {
                                           @class = "form-control textarea",
                                           placeholder = "Features"
                                           //@required = "required"
                                       })
                                        </div>
                                    </div>



                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="mb-3">
                                            <label class="form-label">Category</label>
                                            @Html.DropDownListFor(x => Model.CategoryId, new SelectList(category,
                                           "Id", "Name"), htmlAttributes: new { @class = "form-control select2" })
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="mb-3">
                                            <label class="form-label">Types</label>
                                            @Html.DropDownListFor(x => Model.TypeID, new SelectList(types,
                                           "Id", "Name"), htmlAttributes: new { @class = "form-control select2" })
                                        </div>
                                    </div>


                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="mb-3">
                                            <label class="form-label">SubItems</label>
                                            @Html.DropDownListFor(x => Model.SubItem_Id, new SelectList(SubItems,
                                           "Id", "Name"), htmlAttributes: new { @class = "form-control select2" })
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="mb-3">
                                            <label for="uploadattachments" class="form-label">Car Main Image <span class="extiniosType">(jpg, png, peg, gif, jpg)</span><span class="extiniosType">(W:1500px, H:870px)</span></label>
                                            <input class="form-control" name="uploadattachments" type="file" id="uploadattachments">
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="mb-3">
                                            <label for="uploadattachments_multi" class="form-label">
                                                Car Images [Optional] <span class="extiniosType">(jpg, png, peg, gif, jpg)</span><span class="extiniosType">(W:1500px, H:870px)</span>
                                            </label>
                                            <input multiple class="form-control" name="uploadattachments_multi" type="file" id="uploadattachments_multi">
                                        </div>
                                    </div>

                                 



                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div> <!-- end col -->

            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-check form-check-primary mb-3">
                                            @Html.CheckBoxFor(s => s.FWD, new
                                            {
                                                @class = "form-check-input",
                                                @id = "FWD",
                                                placeholder = "FWD"
                                            })
                                            <label for="FWD" class="form-label" style="cursor:pointer;">FWD</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-check form-check-primary mb-3">
                                            @Html.CheckBoxFor(s => s.Quattro, new
                                            {
                                                @class = "form-check-input",
                                                @id = "Quattro",
                                                placeholder = "FWD"
                                            })
                                            <label for="Quattro" class="form-label" style="cursor:pointer;">Quattro</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-check form-check-primary mb-3">
                                            @Html.CheckBoxFor(s => s.Cruise_Control, new
                                            {
                                                @class = "form-check-input",
                                                @id = "Cruise_Control",
                                                placeholder = "FWD"
                                            })
                                            <label for="Cruise_Control" class="form-label" style="cursor:pointer;">Cruise Control</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-check form-check-primary mb-3">
                                            @Html.CheckBoxFor(s => s.Hill_descent_control, new
                                            {
                                                @class = "form-check-input",
                                                @id = "Hill_descent_control",
                                                placeholder = "FWD"
                                            })
                                            <label for="Hill_descent_control" class="form-label" style="cursor:pointer;">Hill descent control</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-check form-check-primary mb-3">
                                            @Html.CheckBoxFor(s => s.Hold_assist, new
                                            {
                                                @class = "form-check-input",
                                                @id = "Hold_assist",
                                                placeholder = "FWD"
                                            })
                                            <label for="Hold_assist" class="form-label" style="cursor:pointer;">Hold assist</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-check form-check-primary mb-3">
                                            @Html.CheckBoxFor(s => s.Rear_view_camera, new
                                            {
                                                @class = "form-check-input",
                                                @id = "Rear_view_camera",
                                                placeholder = "FWD"
                                            })
                                            <label for="Rear_view_camera" class="form-label" style="cursor:pointer;">Rear view camera</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-check form-check-primary mb-3">
                                            @Html.CheckBoxFor(s => s.Head_up_display, new
                                            {
                                                @class = "form-check-input",
                                                @id = "Head_up_display",
                                                placeholder = "FWD"
                                            })
                                            <label for="Head_up_display" class="form-label" style="cursor:pointer;">Head up display</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-check form-check-primary mb-3">
                                            @Html.CheckBoxFor(s => s.Rear_Eid_Pluss, new
                                            {
                                                @class = "form-check-input",
                                                @id = "Rear_Eid_Pluss",
                                                placeholder = "FWD"
                                            })
                                            <label for="Rear_Eid_Pluss" class="form-label" style="cursor:pointer;">Rear parking aid</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-check form-check-primary mb-3">
                                            @Html.CheckBoxFor(s => s.Rear_parking_Eid, new
                                            {
                                                @class = "form-check-input",
                                                @id = "Rear_parking_Eid",
                                                placeholder = "FWD"
                                            })
                                            <label for="Rear_parking_Eid" class="form-label" style="cursor:pointer;">Parking aid plus</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-check form-check-primary mb-3">
                                            @Html.CheckBoxFor(s => s.Park_assist, new
                                            {
                                                @class = "form-check-input",
                                                @id = "Park_assist",
                                                placeholder = "FWD"
                                            })
                                            <label for="Park_assist" class="form-label" style="cursor:pointer;">Park assist</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-check form-check-primary mb-3">
                                            @Html.CheckBoxFor(s => s.Pre_sense, new
                                            {
                                                @class = "form-check-input",
                                                @id = "Pre_sense",
                                                placeholder = "FWD"
                                            })
                                            <label for="Pre_sense" class="form-label" style="cursor:pointer;">Pre sense</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-check form-check-primary mb-3">
                                            @Html.CheckBoxFor(s => s.LED, new
                                            {
                                                @class = "form-check-input",
                                                @id = "LED",
                                                placeholder = "FWD"
                                            })
                                            <label for="LED" class="form-label" style="cursor:pointer;">LED</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-check form-check-primary mb-3">
                                            @Html.CheckBoxFor(s => s.Matrix_LED, new
                                            {
                                                @class = "form-check-input",
                                                @id = "Matrix_LED",
                                                placeholder = "FWD"
                                            })
                                            <label for="Matrix_LED" class="form-label" style="cursor:pointer;">Matrix LED</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-check form-check-primary mb-3">
                                            @Html.CheckBoxFor(s => s.Audi_smartphone_interface, new
                                            {
                                                @class = "form-check-input",
                                                @id = "Audi_smartphone_interface",
                                                placeholder = "FWD"
                                            })
                                            <label for="Audi_smartphone_interface" class="form-label" style="cursor:pointer;">Audi smartphone interface</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-check form-check-primary mb-3">
                                            @Html.CheckBoxFor(s => s.Standard, new
                                            {
                                                @class = "form-check-input",
                                                @id = "Standard",
                                                placeholder = "FWD"
                                            })
                                            <label for="Standard" class="form-label" style="cursor:pointer;">Standard</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-check form-check-primary mb-3">
                                            @Html.CheckBoxFor(s => s.Sport_seats, new
                                            {
                                                @class = "form-check-input",
                                                @id = "Sport_seats",
                                                placeholder = "FWD"
                                            })
                                            <label for="Sport_seats" class="form-label" style="cursor:pointer;">Sport seats</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>


            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="foooterbuttons">
                            <button type="submit" class="btn btn-success waves-effect waves-light">
                                <i class="bx bx-check-double font-size-16 align-middle me-2"></i> @Resources.Global.Save
                            </button>
                            <a href="/Admission/Cars" class="btn btn-danger waves-effect waves-light">
                                <i class="fa fa-backspace back font-size-16 align-middle me-2"></i> @Resources.Global.Back
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>

</div>




@section EndBody{
    @*<script src="~/assets_NewDash/Angular_Services/Cars/Services/ItemsFactory.js"></script>
    <script src="~/assets_NewDash/Angular_Services/Stores/Services/StoresFactory.js"></script>
    <script src="~/assets_NewDash/Angular_Services/Cars/Controllers/ItemForCrudController.js"></script>*@





    @if (requestStatus != null)
    {



        <script>

              notify = $.notify({
                  message: '@requestStatus.Message',

              }, {

                      type: '@requestStatus.Status' == 'Created' ? "success" :"danger",
                      animate: {
                          enter: 'animated flipInY',
                          exit: 'animated flipOutX',
                      }
                  });
        </script>

        TempData.Remove("RequestStatus");
    }



}